<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.bluetooth_manager</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>15661F94-438A-48A0-A9F1-CA2B2F109330</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E02CBD9-6FF2-407A-B428-8862BDFC7BFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>234DD9A0-343B-4E65-A8FF-2A73C2E3A93F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>304CF204-4BD3-46D5-8D9E-9496568C0D6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>304CF204-4BD3-46D5-8D9E-9496568C0D6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D4B112E-0625-4530-8FA6-903C4B3ED640</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>397BF832-8264-4C96-9B47-9B393542B2CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E539BDD-BFC8-4A6F-9EBA-22AD466BE84B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>234DD9A0-343B-4E65-A8FF-2A73C2E3A93F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>06495E10-3AE1-432C-BEE6-082D0DA88BF9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E02CBD9-6FF2-407A-B428-8862BDFC7BFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>234DD9A0-343B-4E65-A8FF-2A73C2E3A93F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>06495E10-3AE1-432C-BEE6-082D0DA88BF9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34D08C59-E8FD-4D75-BC49-75E58A2EAEDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7114F3D1-5AB9-4F16-8374-3F514C589CED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C52C3C67-8C13-497D-A95D-472AAA150188</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C6CBB77-2F20-4038-A196-9E98FA400550</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1173EEBA-C96E-4715-92CE-B41155874C2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9817FA96-BC76-4973-9CC0-1EBF98325B64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E02CBD9-6FF2-407A-B428-8862BDFC7BFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>998B29C3-C110-488E-9F03-7B36E4EA1508</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD6CBA70-E875-425B-98E0-A31BBFAC566B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E539BDD-BFC8-4A6F-9EBA-22AD466BE84B</key>
		<array/>
		<key>D713054A-A57B-4171-8CC0-DFE4DE4F173C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>397BF832-8264-4C96-9B47-9B393542B2CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD6CBA70-E875-425B-98E0-A31BBFAC566B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52A6064E-4AAF-43FA-A620-3A1C76B5C73F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E67AA2BE-7915-48F9-9D73-64ED8C26E440</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C6CBB77-2F20-4038-A196-9E98FA400550</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F27FA8AB-6308-4E0F-932D-B9D9E76C3FC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>397BF832-8264-4C96-9B47-9B393542B2CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Boris Muñoz</string>
	<key>description</key>
	<string>Connect and disconnect a bluetooth device easily</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D713054A-A57B-4171-8CC0-DFE4DE4F173C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py connect</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9E539BDD-BFC8-4A6F-9EBA-22AD466BE84B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:default_device}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^$</string>
						<key>outputlabel</key>
						<string>if</string>
						<key>uid</key>
						<string>06495E10-3AE1-432C-BEE6-082D0DA88BF9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>397BF832-8264-4C96-9B47-9B393542B2CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bc</string>
				<key>subtext</key>
				<string>Connect to the default device</string>
				<key>text</key>
				<string>Bluetooth: Connect {var:default_device_name}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F27FA8AB-6308-4E0F-932D-B9D9E76C3FC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bset</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading devices</string>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py list_devices</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set default device</string>
				<key>title</key>
				<string>Bluetooth: Set default device</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>304CF204-4BD3-46D5-8D9E-9496568C0D6A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py notification "Set a device first"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>234DD9A0-343B-4E65-A8FF-2A73C2E3A93F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py set_device "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6D4B112E-0625-4530-8FA6-903C4B3ED640</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>15661F94-438A-48A0-A9F1-CA2B2F109330</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:default_device}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^$</string>
						<key>outputlabel</key>
						<string>if</string>
						<key>uid</key>
						<string>06495E10-3AE1-432C-BEE6-082D0DA88BF9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3E02CBD9-6FF2-407A-B428-8862BDFC7BFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py disconnect</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34D08C59-E8FD-4D75-BC49-75E58A2EAEDB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bd</string>
				<key>subtext</key>
				<string>Disconnect the default device</string>
				<key>text</key>
				<string>Bluetooth: Disconnect {var:default_device_name}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9817FA96-BC76-4973-9CC0-1EBF98325B64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bcs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading devices</string>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py list_devices</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Connect a specific device</string>
				<key>title</key>
				<string>Bluetooth: Connect a specific device</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DD6CBA70-E875-425B-98E0-A31BBFAC566B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py connect "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52A6064E-4AAF-43FA-A620-3A1C76B5C73F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>998B29C3-C110-488E-9F03-7B36E4EA1508</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bds</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading devices</string>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py list_devices</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Disconnect a specific device</string>
				<key>title</key>
				<string>Bluetooth: Disconnect a specific device</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C6CBB77-2F20-4038-A196-9E98FA400550</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E67AA2BE-7915-48F9-9D73-64ED8C26E440</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py disconnect "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1173EEBA-C96E-4715-92CE-B41155874C2D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py manager "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C52C3C67-8C13-497D-A95D-472AAA150188</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking bluetooth status</string>
				<key>script</key>
				<string>/usr/bin/python bluetooth.py manager</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Bluetooth manager</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7114F3D1-5AB9-4F16-8374-3F514C589CED</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>First run this command on a terminal:
brew install blueutil</string>
	<key>uidata</key>
	<dict>
		<key>1173EEBA-C96E-4715-92CE-B41155874C2D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Disconnect device</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>15661F94-438A-48A0-A9F1-CA2B2F109330</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>234DD9A0-343B-4E65-A8FF-2A73C2E3A93F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Notification</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>304CF204-4BD3-46D5-8D9E-9496568C0D6A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>34D08C59-E8FD-4D75-BC49-75E58A2EAEDB</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Disconnect device</string>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>397BF832-8264-4C96-9B47-9B393542B2CE</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>3E02CBD9-6FF2-407A-B428-8862BDFC7BFB</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>52A6064E-4AAF-43FA-A620-3A1C76B5C73F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Connect device</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>6D4B112E-0625-4530-8FA6-903C4B3ED640</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Set device</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>7114F3D1-5AB9-4F16-8374-3F514C589CED</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>7C6CBB77-2F20-4038-A196-9E98FA400550</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>9817FA96-BC76-4973-9CC0-1EBF98325B64</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>998B29C3-C110-488E-9F03-7B36E4EA1508</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>9E539BDD-BFC8-4A6F-9EBA-22AD466BE84B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Connect device</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>C52C3C67-8C13-497D-A95D-472AAA150188</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Execute manager action</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>D713054A-A57B-4171-8CC0-DFE4DE4F173C</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>DD6CBA70-E875-425B-98E0-A31BBFAC566B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>E67AA2BE-7915-48F9-9D73-64ED8C26E440</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>F27FA8AB-6308-4E0F-932D-B9D9E76C3FC6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/bmunoz89/alfred-wf-bluetooth-manager</string>
</dict>
</plist>
