[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
isort = {extras = ["pipfile"],version = "*"}

[packages]

[requires]
python_version = "2.7"
